language: python
python:
  - "2.7"
# command to install dependencies
install:
  - pip install -r requirements
# command to run tests
script:
  - cd tests
  - python run.py
addons:
  apt:
    packages:
    - enchant
    - aspell-en
    - hunspell-de-de
